body {
  font-family: sans-serif;
}

div {
  box-sizing: border-box;
}

h1 {
  font-size: 14pt;
}

p {
  text-align: left;
  margin-left: 10pt;
  margin-right: 10pt;
}

legend {
  font-size: 18pt;
  padding: 5pt;
  border: 1pt solid black;
  border-radius: 5pt;
}

.row {
  width: 100%; 
}

.section_heading {
  padding: 3pt;
  background: gray;
  border-radius: 3pt;
  color: white;
  margin-top: 5pt;
  margin-bottom: 5pt;
  text-shadow: 2px 2px 3px rgba(0,0,0,0.9);
  font-weight: bold;
}

.datum_label, .datum_display {
  display: inline-block;
  width: 200px;
  text-align: center;
  vertical-align: top;
}

.datum_label {
  padding: 3pt;
}

.datum_display {
  border: 1pt solid gray;
  border-radius: 5pt;
  font-family: 'Courier New', Courier, monospace;
  font-size: 12pt;
  height: 30pt;
  padding-top: 5pt;
}

#demo-color-properties {
  width: 610px;
  margin: auto;
  border-radius: 10pt;
  margin-top: 50pt;
  margin-bottom: 50pt;
  box-shadow: 5pt 5pt 8pt rgba(0,0,0,0.25);
}

#color_choice, #get_info {
  width: 295px;
  height: 20pt;
  font-family: 'Courier New', Courier, monospace;
  font-size: 12pt;
  padding: 3pt;
  border-radius: 5pt;
}

#color_choice_pick {
  width: 600px;
  height: 30px;
  border-radius: 5pt;
}


#input, #color {
  width: 300px;
}

#error_message {
  color: red;
}

#alpha_illustrator_container {
  width: 403px;
}